html{
  overflow-x: hidden !important;
}
.navbar-fixed-top {
  /*background-image: url('http://www.fas.org/irp/imint/docs/rst/Sect19/2004-09-07-E0200481-medium.jpg')*/
  ;
}

.navbar-fixed-top .navbar-brand {
  font-size: 30px;
  line-height: 35px;
  /*font-family: 'Overlock', serif;*/
  font-family: 'Capriola', sans-serif;
/*font-family: 'Ruluko', sans-serif;*/
  ;
}

.navbar-fixed-top .navbar-brand:hover {
  text-shadow: 1px -1px 1px rgb(180, 180, 180);
  color: rgb(90, 90, 90);
}

body  #wrap > .container {
/*  padding: 20px 15px 0px;
  margin-top: 66px;
*/
  ;
}

body {
/*  background-image: url('../img/bg.png');
  background-position: center;
  background-attachment: fixed;
  color: white;
*/
  ;
}

.panel-body {
  padding: 15px;
/*background-color: rgba(43, 37, 37, 0.83);*/
  border-radius: 0px 0px 4px 4px;
}

.modal.fade {
  color: black;
}

.codegeeks-block {
  background: #4d4848;
  border: 1px solid white;
  border-radius: 3px;
  padding: 20px;
}


/****************/
/* Form styling */
/****************/
.codegeeks-bigform textarea {
  resize: none;
}

.codegeeks-form {
    /* Size and position */
    /*width: 300px;*/
  width: auto;
  margin: 0px auto 0px;
  padding: 10px;
  position: relative;
    /* Font styles */
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.codegeeks-form h1 {
  font-size: 22px;
  padding-bottom: 20px;
}

.codegeeks-form input[type=text],
.codegeeks-form input[type=password] {
    /* Size and position */
  width: 100%;
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;
    /* Styles */
  border: 1px solid #4e3043;
 /* Fallback */
  border: 1px solid rgba(78,48,67, 0.8);
  background: rgba(136,136,136,1);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    /* Font styles */
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.codegeeks-form input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.codegeeks-form input:-moz-placeholder {
  color: rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.codegeeks-form input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.codegeeks-form input[type=text]:hover,
.codegeeks-form input[type=password]:hover {
  border-color: #333;
}

.codegeeks-form input[type=text]:focus,
.codegeeks-form input[type=password]:focus,
.codegeeks-form input[type=submit]:focus {
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
  outline: none;
}

.codegeeks-form input[type=text]:focus,
.codegeeks-form input[type=password]:focus {
  background: #000;
}

/* Fallback */
.no-boxshadow .codegeeks-form input[type=text]:focus,
.no-boxshadow .codegeeks-form input[type=password]:focus {
  outline: 1px solid white;
}

.codegeeks-form input[type=submit] {
    /* Size and position */
  width: 100%;
  padding: 8px 5px;
    /* Styles */
  background: #634056;
    /*background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    */
  border-radius: 5px;
  border: 1px solid #4e3043;
  box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    /* Font styles */
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.codegeeks-form input[type=submit]:hover {
  box-shadow: inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .codegeeks-form input[type=submit]:hover {
  background: #594642;
}

.codegeeks-form label {
  display: none;
  padding: 0 0 5px 2px;
  cursor: pointer;
}

.codegeeks-form label:hover ~ input {
  border-color: #333;
}

.no-placeholder .codegeeks-form label {
  display: block;
}

/**********************************************/
/*  ADMIN related CSS                         */
/**********************************************/

ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
  padding: 22px;
}

ul.dropdown-menu li.dropdown-menu-item {
  font-family: 'tw-cen-mt-condensed', sans-serif;
  display: block;
  text-decoration: none;
  margin: 0;
  position: relative;
  right: 0;
  top: 0px;
  font-size: 24px;
}

.box-glyficon {
  padding: 10px;
  background-color: rgb(211,40,64);
  color: white;
}

.left-arrow,
.right-arrow{
  display: inline-block;
  position: absolute;
  top: 210px;
}

.left-arrow{
  left: 0;
}

.right-arrow{
  right: 0;
}
/**********************************************/
/*  HEADER related CSS                        */
/**********************************************/
.user {
  height: 50px;
  width: 50px;
}




/* common css */

@font-face {
  font-family: 'tw-cen-mt-condensed';
  src:url('../fonts/tw-cen-mt-condensed.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
}

@font-face {
  font-family: 'tw-cen-mt-bold';
  src:url('../fonts/tw-cen-mt-bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */;
}

@font-face {
  font-family: 'tw-cen-mt-italic';
  src:url('../fonts/tw-cen-mt-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */;
}

.bannner {
  height: 294px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 200px;
}

.user {
  border-radius: 5px;
  box-shadow: 0 0 1px black;
}

.user_name {
  margin-left: 10px;
  color: #4d4d4d;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: top;
  width: 100px;
}

.custom-navbar {
  display: inline-block;
  text-decoration: none;
}

.custom-navbar li {
  font-family: 'tw-cen-mt-condensed', sans-serif;
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
  font-size: 24px;
  letter-spacing: 1px;
}

.custom-navbar li a {
  color: black !important;
  text-decoration: none !important;
  text-shadow: none !important;
}

.custom-navbar li a:hover {
  color: #d32840 !important;
}

.custom-navbar .active-tab {
  color: #d32840 !important;
}

.time_version {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  top: 190px;
  left: 183px;
}

.line1 {
  margin: 0 10px 0 10px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #7b7777;
  height: 20px;
}

.title {
  color: #b3b3b3;
  /*margin-right: 10px;*/
}

.value {
  color: white;
  margin-left: 10px;
}

.big-text {
  font-size: 50px;
  display: inline-block;
  position: relative;
  font-family: tw-cen-mt-condensed, sans-serif;
  top: 100px;
  left: -334px;
  color: white;
}

.search {
  display: inline-block;
  position: absolute;
  top: 135px;
  right: 70px;
}

.search_field {
  height: 35px;
  width: 250px;
  padding-left: 10px;
  font-family: 'tw-cen-mt-italic';
  font-size: 14px;
  color: black;
}

.search_field::-webkit-input-placeholder {
  color: black;
}

.search_field:-moz-placeholder {
  color: black;
}

.search_field:-ms-input-placeholder {
  color: black;
}

.btn-enter {
  height: 35px;
  border: none !important;
  margin-top: -1px;
  padding: 6px 30px;
  font-family: 'tw-cen-mt-bold';
  font-size: 15px;
  margin-left: 10px;
  background: rgb(211,40,64);
 /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDMyODQwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZDMyODQwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjYmUyNDNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMjQzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, rgba(211,40,64,1) 0%, rgba(211,40,64,1) 51%, rgba(190,36,58,1) 51%, rgba(190,36,58,1) 100%);
 /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(211,40,64,1)), color-stop(51%,rgba(211,40,64,1)), color-stop(51%,rgba(190,36,58,1)), color-stop(100%,rgba(190,36,58,1)));
 /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(211,40,64,1) 0%,rgba(211,40,64,1) 51%,rgba(190,36,58,1) 51%,rgba(190,36,58,1) 100%);
 /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(211,40,64,1) 0%,rgba(211,40,64,1) 51%,rgba(190,36,58,1) 51%,rgba(190,36,58,1) 100%);
 /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(211,40,64,1) 0%,rgba(211,40,64,1) 51%,rgba(190,36,58,1) 51%,rgba(190,36,58,1) 100%);
 /* IE10+ */
  background: linear-gradient(135deg, rgba(211,40,64,1) 0%,rgba(211,40,64,1) 51%,rgba(190,36,58,1) 51%,rgba(190,36,58,1) 100%);
 /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32840', endColorstr='#be243a',GradientType=1 );
 /* IE6-8 fallback on horizontal gradient */
  ;
}

.text {
  position: absolute;
  right: 70px;
  top: 255px;
}

.body-contain {
  height: 500px;
}

.img-vid {
  margin-left: 25px;
  margin-bottom: -15px;
  position: relative;
}

.img-vid a {
  color: #4d4d4d !important;
  text-decoration: none !important;
}

.img-vid a:hover {
  color: #d32840 !important;
  text-decoration: none !important;
}

.img-vid .img-vid-active {
  color: #d32840 !important;
}

.pos-img-vid {
  margin-top: 30px;
  font-family: 'arial';
  font-weight: bold;
}

.title-event {
  font-size: 18px;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  font-family: 'arial';
  font-weight: bold;
}

.gallary {
  height: 300px;
  overflow-y: scroll;
}

.img-thumb-cat {
  height: 128px;
  width: 128px;
  background-color: #eee;
  float: left;
  margin: 5px;
  margin-top: 15px;
}

.img-thumb img {
  height: 120px;
  width: 120px;
}

.img-thumb {
  height: 120px;
  width: 120px;
  background-color: red;
  float: left;
  margin: 5px;
}

.img-thumb-p {
  /*width: 100%;*/
  /*height: 300px;*/
  /*background-color: red;*/
}

.tagline {
  width: 300px;
  margin-top: 30px;
}

.img-carocel img {
  width: 100%;
  margin-left: 20px;
}

.footer{
  margin-top: 30px;
  height: 63px;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-text{
  position: relative;
  top: 20px;
  left: 165px;
}


.my-custom-clock{
  display: inline-block;
  font-family: 'tw-cen-mt-bold';
  color: #990000;
  font-size: 16px; 
}

.copyright {
  font-family: 'tw-cen-mt-condensed';
  color: #990000;
  font-size: 16px;
}

.col-lg-3 .pos-img-vid .img-vid {
  margin-bottom: -6px;
}

/* community page */

.imgWrap {
  float: left;
  width: 156px;
  height: 156px;
  cursor: pointer;
  position: relative;
  background-color: red;
}

.imgDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 156px;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
}

.imgWrap:hover div.imgDescription {
  -webkit-animation: hoverAnimation 1s;
 /* Chrome, Safari, Opera */
  animation: hoverAnimation 1s;
  opacity: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hoverAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes hoverAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icon-class-1 {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
}

.icon-class-1 .fa-leaf {
  margin-top: 7px;
  margin-left: 5px;
}

.bk-color {
  margin-top: 78px;
  height: 78px;
  width: 156px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.bk-color .icon-class-1 {
  margin-left: 78px;
}

/* */
.img-size-c {
  width: 18px;
  margin-top: -5px;
}

.title-c {
  color: #990000;
  font-size: 14px;
  font-family: Nexa Bold;
  letter-spacing: 1px;
}

.see-all a {
  color: #990000 !important;
  font-size: 12px;
  font-family: Nexa Bold;
  letter-spacing: 1px;
}

.hr-pos {
  margin-top: 5px;
  margin-bottom: 0px;
}

.img-size-c1 {
  width: 30px;
  margin-top: -18px;
}

.title-c1 {
  color: black;
  font-size: 11px;
  margin-top: 25px;
}

.img-size-c11 {
  width: 30px;
  margin-top: -18px;
}

.title-c4 {
  font-family: 'tw-cen-mt-condensed';
  color: black;
  font-size: 24px;
}

.title-c41 {
  font-size: 12px;
  font-family: Nexa Bold;
  color: #545454;
  text-align: left;
}

.name-1 {
  font-family: 'tw-cen-mt-condensed';
  color: #990000;
  font-size: 20px;
}

.title-c12 {
  color: black;
  font-size: 11px;
  position: relative;
  top: 9px;
}

.border-class {
  border: 1px solid #e6e6e6;
  padding: 5px;
  padding-top: 15px;
}

.img-c45 {
  width: 35px;
  margin-top: -8px;
}

.share {
  font-family: 'tw-cen-mt-condensed';
  color: #990000;
  font-size: 24px;
}

.img-98 {
  width: 14px;
}

.custom-form {
  border-radius: 0px !important;
  margin-top: 15px;
}

/**/

.icons-social .see-all {
  color: #990000;
  font-size: 12px;
}

.icons-social .see-all-1 {
  color: black;
  font-size: 12px;
}

.comment {
  color: #990000;
  font-size: 22px;
  font-family: 'tw-cen-mt-condensed';
}

.c-name {
  color: #990000;
  font-size: 24px;
  font-family: 'tw-cen-mt-condensed';
}

.c-name .against {
  font-size: 16px;
}

.like a {
  font-family: 'tw-cen-mt-condensed';
  font-size: 18px;
  color: black !important;
}

.u-comment a {
  font-family: 'tw-cen-mt-bold';
  color: black !important;
}

.load-more {
  background-color: #e6e6e6;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.load-more:hover {
  background-color: #dedddd;
}

.load-more a {
  color: #303030;
}

.bk-color-34 {
  background-color: #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.text-aria-top {
  margin-top: -15px;
}

.motion {
  color: #333;
  font-size: 12px;
}

.against {
  color: #990000;
  font-size: 12px;
}

.img-models-1 {
  width: 100%;
  height: 100%;
}

.form-container {
  margin: 20px 0px;
  /*background-color: cyan;*/
  ;
}

.formSpecialLinks, .formSpecialLinks:hover {
  text-decoration: none;
}

#uploadMedia iframe[name=mediaUploadForm] {
  display: none;
}

.logo-user-photo-name,
.navigaton,
.profile-block,
.logo-block,
.user-photo,
.user_name,
.wrap-logo-user-profile,
.custom-navbar {
  display: inline-block;
}

.logo-block {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px solid #dedede;
  margin-left: 150px;
}

.logo-user-photo-name {
  margin-top: 20px;
}

.navigaton {
  float: right;
  margin-top: 13px;
  margin-right: 15px;
}

.header {
  margin-top: 15px;
}

.display-block-show-lg {
  display: none;
}

 /*media page media query */
@media (max-width: 992px) {

  .logo-block {
    margin-left: 15px;
  }

  .header {
    margin-bottom: 15px;
  }

  .time_version {
    top: 205px;
  }
}

@media (max-width: 800px) {
  .profile-block {
    display: none;
  }

  .logo-block {
    padding-right: 0px;
    margin-right: 0px;
    border: none;
  }
}

.display-block-show-xs {
    display: none;
}

.preview-image{
  height: 100%;
  width: 100%;
}

.img-thumb-p{
  overflow: hidden;
}

.img-thumb-p img{
  /*width: 100%;*/
  max-height: 300px;
}

@media (max-width: 767px) {

  .img-thumb-p img{
    max-width: 100%;
    max-height: auto;
  }

}

@media (max-width: 630px) {


.time_version {
  position: relative;
  display: inline-block;
  font-size: 10px;
  top: 125px;
  left: 5px;
}

  .left-arrow,
  .right-arrow{
      display: inline-block;
      position: relative;
      top: 20px;
      left: 20px;
    }

    .left-arrow{
    }

    .right-arrow{
      right: 0;
    }

  .navbar{
    margin-bottom: 0px;
  }

  .header{
    margin-bottom: 0px;
  }

  .display-block-hide-xs {
    display: none;
  }

  .display-block-show-xs {
    display: block;
  }

  .wrap-logo-user-profile {
    display: block;
    text-align: center;
    float: none;
  }

  .logo-block {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .input-xs {
    width: 200px;
    margin-top: 9px;
    margin-left: 10px;
  }

  .xs-footer{
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #eee;
  }

  .footer-text{
    position: relative;
    top: 10px;
    left: 0px;
  }

}



/* user profile */
.xs-margin-left{
  margin-left: 10px;
}
.basic-color{
  color: #999999;
  font-family: 'tw-cen-mt-bold';
  font-size: 15px;
  margin-left: 10px;
  margin-top: 15px;
}
.info-color{
  color: #990000;
  font-size: 17px;
  font-family: 'tw-cen-mt-bold';
}
.info-color-1{
  color: #990000;
  font-size: 24px;
  font-family: 'tw-cen-mt-condensed';
  font-weight: 400;
}
.info-color-2{
  color: #333333;
  font-size: 17px;
  font-family: 'tw-cen-mt-bold';
  font-weight: 400;
}
.info-block{
  width: 500px;
  margin-top: -175px;
  margin-left: 280px;
}

.color-gray{
   color: #545454;
  font-size: 20px;
  font-family: 'tw-cen-mt-condensed';
  font-weight: 400;
}

.btn-enter-margin{
  margin-left: 0px;
}

.page-pre-title{
  position: absolute;
  top: 260px;
  left: 183px;
  font-family: 'tw-cen-mt-condensed';
  font-weight: 400;
  color:  #990000;
  text-transform: uppercase;
}

.page-title{
  position: absolute;
  top: 260px;
  left: 183px;
  font-family: 'tw-cen-mt-condensed';
  font-weight: 400;
  color: white;
  font-size: 65px;
  text-transform: uppercase;
}
