.line {
  display: inline-block;
  margin-top: 20px;
  @font-face {
  font-family: 'tw-cen-mt-condensed';
  src: url('../fonts/tw-cen-mt-condensed.ttf') format('truetype');
 /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: normal;
}