.logo-w {
  width: 300px;
  margin-top: 20px;
}

.navbar-pos {
  position: relative;
  right: -403px;
}

.header-bk {
  background-position: relative;
  z-index: 10000;
  background-image: url("../img/Untitled.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* */

.class1 {
  font-family: 'tw-cen-mt-condensed';
  color: white;
  font-size: 94px;
  position: relative;
  top: 90px;
}

.class11 {
  top: 30px;
}

.class2 {
  font-family: 'tw-cen-mt-condensed';
  color: white;
  font-size: 165px;
  position: relative;
  top: -35px;
}

.hr-cus12 {
  border-top: 3px solid #eee;
}

.hr-cus121 {
}

.categories {
  background-color: rgba(255,255,255,0.7);
}

.cat12 {
  color: brown;
  font-size: 54px;
  font-family: 'tw-cen-mt-condensed';
}

.about-us h3 {
  color: black;
  font-family: 'tw-cen-mt-condensed';
}

.foo-text {
  display: inline-block;
  position: relative;
  bottom: -45px;
  left: 152px;
}

.f2 {
  font-family: 'tw-cen-mt-condensed';
  color: #990000;
  display: inline-block;
  position: relative;
  float: right;
  top: 55px;
  right: 85px;
  font-size: 18px;
}

.custom-nav-margin-top {
  margin-top: 28px;
}

.row-position {
  margin-top: -82px;
}

@media (max-width: 1200px) {
  .class2 {
    font-size: 141px;
  }

  .cat12 {
    font-size: 45px;
  }

  .banner1 {
    height: 599px;
  }
}

@media (max-width: 992px) {
  .class2 {
    font-size: 109px;
  }

  .cat12 {
    font-size: 34px;
  }

  .banner1 {
    height: 530px;
  }
}

@media (max-width: 841px) {
  .f2 {
    float: none;
    top: 55px;
    right: 0px;
    font-size: 18px;
    text-align: center;
    left: 50%;
    margin-left: -106px;
  }

  .foo-text {
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 42px;
  }
}

@media (max-width: 768px) {
  .class1 {
    font-size: 45px;
  }

  .class2 {
    font-size: 44px;
  }

  .cat12 {
    font-size: 27px;
  }

  .row-position {
    margin-top: -60px;
  }

  .banner1 {
    height: 367px;
  }
}